In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/ds_salaries.csv')
job_salary = df[["work_year", "job_title",  "salary_currency",  "salary", "salary_in_usd"]].copy()

## 3.1.12 여러 파일을 하나로 병합해서 보기

In [3]:
import pandas as pd

# to_csv
job_salary[job_salary["salary_currency"] == "USD"].to_csv('/content/drive/MyDrive/Colab Notebooks/data/job_usd_salary.csv')
job_salary[job_salary["salary_currency"] == "EUR"].to_csv('/content/drive/MyDrive/Colab Notebooks/data/job_eur_salary.csv')
job_salary[job_salary["salary_currency"] == "GBP"].to_csv('/content/drive/MyDrive/Colab Notebooks/data/job_gbp_salary.csv')

# read_csv
job_usd_salary = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/job_usd_salary.csv')
job_eur_salary = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/job_eur_salary.csv')
job_gbp_salary = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/job_gbp_salary.csv')

# value_counts
print (job_usd_salary['salary_currency'].value_counts() )
print (job_eur_salary['salary_currency'].value_counts() )
print (job_gbp_salary['salary_currency'].value_counts() )

USD    398
Name: salary_currency, dtype: int64
EUR    95
Name: salary_currency, dtype: int64
GBP    44
Name: salary_currency, dtype: int64

In [4]:
# pd.concat()
concat_job_salary = pd.concat([job_usd_salary, job_eur_salary, job_gbp_salary], axis=0)

print (concat_job_salary['salary_currency'].value_counts() )

USD    398
EUR     95
GBP     44
Name: salary_currency, dtype: int64

## 3.1.13 여러 데이터를 하나의 기준으로 병합하기

In [5]:
join_job_salary = df[["work_year", "job_title"]].drop_duplicates().copy()

join_job_salary = join_job_salary[join_job_salary["job_title"] != "NaN"]

join_job_salary.head()

   work_year                   job_title
0       2020              Data Scientist
1       2020  Machine Learning Scientist
2       2020           Big Data Engineer
3       2020        Product Data Analyst
4       2020   Machine Learning Engineer

In [6]:
join_job_usd_salary = job_usd_salary[["work_year", "job_title", "salary"]].groupby(["work_year", "job_title"]).mean()

# pd.merge
leftjoin_job_salary = pd.merge(join_job_salary, join_job_usd_salary, how="left", on=["work_year", "job_title"])

leftjoin_job_salary.head()

   work_year                   job_title         salary
0       2020              Data Scientist  149158.571429
1       2020  Machine Learning Scientist  260000.000000
2       2020           Big Data Engineer   70000.000000
3       2020        Product Data Analyst   20000.000000
4       2020   Machine Learning Engineer  179333.333333

In [ ]:
# salary_in_usd
leftjoin_job_salary = leftjoin_job_salary.rename(columns={"salary": "salary_in_usd"})

leftjoin_job_salary.head()

   work_year                   job_title  salary_in_usd
0       2020              Data Scientist  149158.571429
1       2020  Machine Learning Scientist  260000.000000
2       2020           Big Data Engineer   70000.000000
3       2020        Product Data Analyst   20000.000000
4       2020   Machine Learning Engineer  179333.333333

In [ ]:
# salary_in_eur
join_job_eur_salary = job_eur_salary[["work_year", "job_title", "salary"]].groupby(["work_year", "job_title"]).mean()
leftjoin_job_salary = pd.merge(leftjoin_job_salary, join_job_eur_salary, how="left", on=["work_year", "job_title"])
leftjoin_job_salary = leftjoin_job_salary.rename(columns={"salary": "salary_in_eur"})

# salary_in_gbp
join_job_gbp_salary = job_gbp_salary[["work_year", "job_title", "salary"]].groupby(["work_year", "job_title"]).mean()
leftjoin_job_salary = pd.merge(leftjoin_job_salary, join_job_gbp_salary, how="left", on=["work_year", "job_title"])
leftjoin_job_salary = leftjoin_job_salary.rename(columns={"salary": "salary_in_gbp"})

leftjoin_job_salary.head()

,work_year,job_title,salary_in_usd,salary_in_eur,salary_in_gbp
0,2020,Data Scientist,149158.571429,48472.727273,60000.0
1,2020,Machine Learning Scientist,260000.000000,NaN,NaN
2,2020,Big Data Engineer,70000.000000,100000.000000,85000.0
3,2020,Product Data Analyst,20000.000000,NaN,NaN
4,2020,Machine Learning Engineer,179333.333333,40000.000000,NaN